/* Mobil cihazlar için karusel stil ayarları */
@media screen and (max-width: 768px) {
    .carousel {
      height: 300px; /* Örneğin, karusel yüksekliğini sabit bir değere ayarlayabilirsiniz */
    }
    
    .carousel .slick-slide img {
      width: 100%; /* Resimlerin tam ekran genişliğinde olmasını sağlar */
      height: auto; /* Orantılı yükseklik sağlar */
    }
  
    .carousel .slick-slide .ant-carousel-content {
      padding: 20px; /* İçerik kenar boşluğu ekleyebilirsiniz */
    }
  
    .carousel .slick-slide .auth-carousel {
      text-align: center; /* Metni ortala */
    }
  }
  