@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');


body {
  margin: 0;
  font-family: "Electrolize", sans-serif;
}
.ant-btn-primary {
  background-color: #1677ff;
}
.menu-link .anticon{
  display: flex;
  justify-content: center;
}
@media (max-width: 767px), (min-width: 768px) {
  /* body içeriğinin yatay ve dikey kaydırma çubuklarını gizle */
  body {
    overflow: hidden;
  }

  /* .categories ve .products sınıflarına sahip öğelerin içerisindeki kaydırma çubuklarını gizle */
  .categories::-webkit-scrollbar,
  .products::-webkit-scrollbar {
    display: none;
  }
}